/*footer*/
footer {
    width: 100vw;
    height: 29vw;
  }

  .footer_items {
    display: flex;
  }
  
  
  .office {
    height: 29vw;
    width: 50vw;
    position: relative;
    z-index: 1;
    background-image: url("../images/icon.png");
    background-repeat: no-repeat;
    background-size:cover; 
  }

  .footer_office_item {
    position: absolute;
    top: 35px;
    left: 13vw;
  }

  .footer_office_info {
    position: absolute;
  }


  .office p {
    font-size: 1.1vw;
  }


  .office table {
    font-size: 1.1vw;
  }

  .shop_name {
    font-family: Tangerine;
    font-size: 5vw;
  }

  
  .fa-instagram {
    font-size: 3.8vw;
    background-color: pink;
    padding: 8.5px 11px;
    margin-right: 40px; 
    border-radius: 12px;
    vertical-align: middle;
  }

  .sns {
    margin-top: 1.38vw;
    position: absolute;
    left: 7vw;
  }
  
  .sns a {
    border-radius: 3.47vw;
  }
  
  .fa-line {
    font-size: 5vw;
    vertical-align: middle;
  }

  .map {
    width: 50%;
  }
  
  iframe {
    height: 29vw;
    width: 100%;
  }

  .table_footer {
    width: 27.7vw;
    text-align: left;
  }

  .table_footer th {
    font-weight: lighter;
    padding: 0.347vw 0;
  }

  .footer_sqare {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    width: 50vw;
    height: 29vw;
    opacity: 0.97;

  }
  
  .footer-links {
    display: flex;
    justify-content: space-around;
    height: 15.9vw;
  }
  
  .fl-box {
    margin-top: 2.08vw;
    padding-right: 1.38vw;
  }
  
  .fl-box a {
    display: block;
    margin: 0 2.08vw 3.47vw 0;
  }

  .copy-bar {
    background-color: white;
    margin-top: 1.52vw;
  }
  
  .copy-bar p {
    color: #796a59;
    display: block;
    text-align: center;
  }
  
  span {
    font-size: 1.38vw;
  }  