* {
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
  }

  a {
    color: #816e6e;
  }

  body {
    background-color: rgb(228, 226, 211);
    width: 100vw;
  }

  #header_parts {
    height: 100px;
  }

  .header_flex {
    display: flex;
  }


  /*header*/
  .nav {
    display: none;
  }
  
  header {
    width: 100vw;
    height: 50px;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    box-sizing: content-box;
  }

  .name_header {
    margin: 0 50px;
  }

  .name_header p {
    text-align: center;
    vertical-align: middle;

  }
  
  header p {
    color: #816e6e;
  }
  
  .menus_header {
    font-size: 1.3vw;
    margin-left: auto;
    vertical-align: middle;
  }
  
  .button_header {
    height: 2vw;
    padding: 0.5vw 3vw;
  }

  .menus_header li+ li {
    border-left: 1px solid #333;
  }
    
  .button_header:hover {
    border-bottom: solid 0.36vw #816e6e;
  }  

  /*js*/    
  #header {
    background-color: rgb(228, 226, 211);
  }
  
  #header.invert {
    background-color: white; /* スクロール後の色 */
  }

  #name_header {
    font-size: 0.9vw;
  }

  #name_header.invert {
    font-size: 0.34vw;
  }

  #name_header_span {
    font-family: Tangerine;
    font-size: 4vw;
  }

  #name_header_span.invert {
    font-family: Tangerine;
    font-size: 2.1vw;
  }

  #none {
    font-size: 0.9vw;
  }

  #none.invert {
    display: none;
  }




