main {
    padding-top: 40px;
  }  

/*.title {
    text-align: center;
}

.shop_table {
    font-size: 15px;
    margin: 0 auto;
    border: solid 1px;
    vertical-align: middle;
    border-collapse:collapse;
}

.shop_table th {
    color: white;
    width: 150px;
    font-weight: lighter;
    background-color: rgb(167, 200, 69);
    padding: 20px;
    border: solid 1px gray;

}

.shop_table td {
    width: 500px;
    vertical-align: baseline;
    padding: 20px;
    border: solid 1px gray;

}*/


