* {
    text-decoration: none;
  }
/*header border*/
.menu_header0 {
  border-bottom: solid 5px #816e6e;
}
  
/*メイン*/ 
main {
  padding-top: 40px;
}

h1 {
  text-align: center;
}

.title {
    margin: 50px 0;
}

.flex {
    display: flex;
    justify-content:space-between;
}

.menu-btn {
    text-align: center;
}


/*メニュー内容*/
.table_menu {
  width: 430px;
  margin: 30px 0;
}

.table_menu th {
  width: 300px;
  color:rgb(140, 116, 73);
  padding-bottom: 15px;
  text-align: left;
}

.title {
  text-align: center;
  padding-top: 40px;
}

.plice {
  text-align: right;
}

/*フェイス*/
.face_plices {
  height: 700px;
  background-image: url("../images/mLabel2.png");
  background-size: cover;
  background-position: center;
}

.fp-tables {
  margin: 0px 130px;
}

.bp_tables {
  margin: 0 130px;
}

.revi_info {
  width: 370px;
  margin: 30px 0;
}
/*ボディー*/
.body_plices {
  height: 500px;
  background-image: url("../images/mLabel1.png");
  background-size: cover;
  background-position: center;
  margin-top: -50px;
}