/*footer*/
footer {
    background-color: #faebd7;
    height: 500px;
    margin-top: 100px;
  }
  
  .footer-item {
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  footer img {
    height: 100px;
    margin-left: -27px;
  }
  
  .office {
    margin: 20px 20px 0 30px;
  }
  
  .address {
    margin-left: 20px;
  }
  
  .fa-instagram {
    font-size: 3em;
    background-color: pink;
    padding: 8.5px 11px; 
    border-radius: 12px;
    vertical-align: middle;
  }
  
  .sns a {
    padding: 20px;
    border-radius: 50px;
  }
  
  .fa-line {
    font-size: 4em;
    vertical-align: middle;
  }
  
  iframe {
    height: 260px;
    width: 260px;
    margin: 30px 0;
  }
  
  .footer-links {
    display: flex;
    justify-content: space-around;
    height: 230px;
  }
  
  .fl-box {
    margin-top: 30px;
    padding-right: 20px;
  }
  
  .fl-box a {
    display: block;
    margin: 0 30px 50px 0;
  }
  
  .copy-bar {
    color: #796a59;
    display: block;
    text-align: center;
  }
  
  span {
    font-size: 20px;
  }  