* {
    text-decoration: none;
  }
  
/*メイン*/ 
h1 {
  text-align: center;
}

.title {
    margin: 100px 0;
}

.flex {
    display: flex;
    justify-content:space-between;
}

.menu-btn {
    text-align: center;
}

.menu-btn img {
    justify-content: center;
    width: 600px;
}

/*メニュー内容*/
table {
  width: 430px;
  margin: 50px 0;
}

th {
  width: 300px;
  color:rgb(140, 116, 73);
  padding-bottom: 20px;
  text-align: left;
}

.title {
  text-align: center;
}

.plice {
  text-align: right;
}

/*フェイス*/
.fp-tables {
  margin: 0 130px;
}

.bp_tables {
  margin: 0 130px;
}

.revi_info {
  width: 370px;
  margin: 50px 0;
}
/*ボディー*/