/*all*/
main {
    text-decoration: none;
    color: gray;
}

body {
    margin: 0;
}
/*header*/
header {
    display: flex;
} 

#header_name {
    font-size: 2em;
    padding-left: 2rem;
    position: relative;
}

#header_name p {
    display: inline;
    position: absolute;
    width: 10rem;
    padding-left: 1rem;
}

#header_menu {
    font-size: 1.2rem;
    margin-top: 3rem;
    margin-left: auto;
}

#header_menu a {
    margin-right: 3rem;
}